<div class="input-field {{disabled}}">
    <p class="label">{{label}}</p>
    <input type="{{type}}" name="{{name}}" id="{{name}}" placeholder="{{placeholder}}" {{disabled}}>
    <p class="error-msg"></p>
</div>