<div class="input-field input-field-select {{disabled}}">
    <p class="label">{{label}}</p>
    <input type="{{type}}" name="{{name}}" class="input" id="{{name}}" placeholder="{{placeholder}}" {{disabled}}>
    <p class="error-msg"></p>
</div>